.cabecera{
  z-index: 1;
  opacity: 0.5;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #111111;
  position: fixed;
}

.ui.menu .item>a:not(.ui), .ui.menu .item>p:only-child, .ui.menu .text.item>* {
  color: coral;
}
.head {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 2em;
}

.logo {
  padding-left: 1em;
  padding-top: 3em;
  width: 300px;
  height: auto;
}

.bordes img{
  width: 300px;
  height: auto;
  border-radius: 1.5em;
}
.nombreEmpresa{
  margin-top: 1em;
  margin-left: -5em;
  align-items:flex-start;
  color:grey;
  font-size: 500%;
}

.navegacion{
  justify-content: center;
}
.content{
  padding-bottom: 2em;
  text-align:  center;
}

