<div class="navegacion">
  <div class="content">
    <ul>
      <li>
        <a routerLink="/"> Home </a>
      </li>
      <li>
        <a routerLink="/proveedor/lista"> Lista </a>
      </li>
      <li>
        <a routerLink="/proveedor/crear"> Crear </a>
      </li>
      <li>
        <a routerLink="/proveedor/editar/:id"> Editar </a>
      </li>
      <li>
        <a routerLink="/proveedor/:id"> Proveedor </a>
      </li>
    </ul>
  </div>
  <div class=" cabecera">
    <div class="logo"><img src="./assets/img/logo.jpg"></div>
    <div class="nombreEmpresa">
      <h1>PadawanSoft.sl</h1>
    </div>
  </div>
</div>
