<div class="ui divider"></div>
<div class="cabecera">
  <h1>Crear Proveedor</h1>
</div>
<hr>
<div class="contenedor">
  <div class="ui form">
    <label>
      <h3> Nombre</h3>
    </label>
    <input type="text" [(ngModel)]="nombre" placeholder="Nombre completo">
  </div>
  <br>
  <!-- multiselect -->
  <div class="ui form">

    <ng-multiselect-dropdown [settings]="dropdownSettings" placeholder="Selecciona el servicio" [data]="servicioList"
      [(ngModel)]="selectedItems">
    </ng-multiselect-dropdown>
  </div>
  <br>
  <div class="ui form">
    <label>
      <h3> Descripción</h3>
    </label>
    <input type="text" [(ngModel)]="descripcion" placeholder="Descripción">
  </div>
  <br>
  <div class="ui form">
    <label>
      <h3> Cif</h3>
    </label>
    <input type="text" [(ngModel)]="cif" placeholder="Cif">
  </div>
  <br>
  <div class="ui form">
    <label>
      <h3> Correo</h3>
    </label>
    <input type="text" [(ngModel)]="correo" placeholder="Email">
  </div>
  <br>
  <div class="ui form">
    <label>
      <h3> Teléfono</h3>
    </label>
    <input type="text" [(ngModel)]="telefono" placeholder="Teléfono">
  </div>
  <br>
  <div class="ui form">
    <label>
      <h3> Imagen</h3>
    </label>
    <input type="text" [(ngModel)]="imagen" placeholder="Ruta imagen">
  </div>
  <br>
  <button class="ui button" (click)="saveAndRedirect()">Guardar y salir</button>
  <button class="ui button" (click)="saveAndStay()">Guardar añadir otro</button>
</div>