<div class="ui divider"></div>
<div class="cabecera"><h1>¡¡ Oferta !!</h1></div>
<div class="ui divider"></div>
<div class="card">
<div class="ui centered card">
    <div class="image">
      <img src="assets\img\imagen_proveedor.png">
    </div>
    <div class="content">
      <a class="header"><h1></h1></a>
    </div>
      <div class="content">
    <a class="header">
        Servicios disponibles<br>
        </a>
    <div class="meta">
      <span class="date">
        C.I.F.:&nbsp;
        </span>
    </div>
    <div class="meta">
      <span class="date">
        Correo:&nbsp;
        </span>
    </div>
    <div class="meta">
      <span class="date">
        Teléfono:&nbsp;
        </span>
    </div>
    <div class="description">
       Detalles:&nbsp;

    </div>

  </div>
  <div class="extra content">
    <a>
      <button class="ui button">Hacer favorito</button>
      <i class="user icon"></i>
      22 Favoritos
    </a>
  </div>
  </div>
  </div>
