 <h1><p>Lista proveedores</p></h1>

 <div class="ui cards" *ngFor="let item of proveedores">
    <div class="card">
      <div class="content">
        <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
        <div class="header">
            {{item.nombre}}
        </div>
        <div class="meta">
          Valoraciones postivas
        </div>
        <div class="description">
          {{item.descripcion}}
        </div>
      </div>
      <div class="extra content">
        <div class="ui three buttons">
          <div class="ui basic green button">Editar</div>
          <div class="ui basic red button">Borrar</div>
          <div class="ui basic orange button">Valorar</div>
        </div>
      </div>
    </div>
  </div>